@import "variables";

@mixin test {
  background-color: #ffff00;
}

body {
  margin: 0;
  font-size: 14px;
  padding: 0;
  * {
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", sans-serif;
    font-size: 14px;
    color: #404040;
  }
  #app {
    $menu-width: 200px;
    #menu {
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: $menu-width;
    }
    #main {
      margin-left: $menu-width + 10px;
      margin-right: 10px;
      width: calc(100vw - #{$menu-width} - 10px - 10px);
      height: auto;
    }
  }

  // フォームコントロール系
  .picks {
    display: flex;
    .c {
      width: 120px;
      input[type="checkbox"] {
        position: relative;
        $box-size: 18px;
        &:after {
          position: absolute;
          content: "";
          width: $box-size;
          height: $box-size;
          background-color: #ffffff;
          z-index: 9;
          border-radius: 3px;
          border: 1px solid #c0c0c0;
          top: -2px;
          left: -5px;
        }
        &:checked {
          &:before {
            position: absolute;
            content: "";
            width: $box-size;
            height: $box-size;
            top: -1px;
            left: -4px;
            background-image: url("image/check.svg");
            z-index: 10;
          }
        }
      }
      input[type="radio"] {
        position: relative;
        $circle-radius: 9px;
        $inner-circle-radius: 7px;
        &:after {
          position: absolute;
          content: "";
          top: -$circle-radius / 4;
          left: -$circle-radius / 2;
          background-color: #ffffff;
          width: $circle-radius * 2;
          height: $circle-radius * 2;
          border-radius: $circle-radius + 2px;
          border: 1px solid #c0c0c0;
          z-index: 9;
        }
        &:checked {
          &:before {
            position: absolute;
            content: "";
            top: -1.5px + ($circle-radius - $inner-circle-radius);
            left: -2.5px + ($circle-radius - $inner-circle-radius)/2;
            background-color: #ffffff;
            width: $inner-circle-radius * 2;
            height: $inner-circle-radius * 2;
            border-radius: $inner-circle-radius + 2px;
            background-color: $color-main;
            z-index: 10;
          }
        }
      }
    }
  }
}
