@import "variables";

@mixin test {
  background-color: #ffff00;
}

body {
  margin: 0;
  font-size: 14px;
  padding: 0;
  * {
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ",
      Meiryo, "ＭＳ Ｐゴシック", sans-serif;
    font-size: 14px;
    color: #404040;
  }
  #app {
    $menu-width: 200px;
    #menu {
      position: fixed;
      top: -30px;
      left: 0;
      height: 100vh;
      width: $menu-width;
      padding-top: 5px;
    }
    #main {
      margin-left: $menu-width + 10px;
      margin-right: 10px;
      width: calc(100vw - #{$menu-width} - 10px - 10px);
      height: auto;
    }
  }

  // フォームコントロール系

  /deep/input[type="text"] {
    min-width: 200px;
    padding: 5px 8px;
    border: 1px solid #c0c0c0;
    outline: none;
    border-radius: 3px;
    &:focus {
      padding: 4px 7px;
      border-width: 2px;
      transition-duration: 0.25s;
    }
  }

  .form-item {
    width: 100%;
    display: flex;
    margin: 20px 0px;
    .k {
      width: 20%;
      height: 100%;
      padding: 1px 8px;
    }
    .v {
      width: 80%;
    }
    .picks {
      display: flex;
      .c {
        width: 120px;
        input[type="checkbox"] {
          position: relative;
          $box-size: 18px;
          &:after {
            position: absolute;
            content: "";
            width: $box-size;
            height: $box-size;
            background-color: #ffffff;
            z-index: 9;
            border-radius: 3px;
            border: 1px solid #c0c0c0;
            top: -2px;
            left: -5px;
          }
          &:checked {
            &:before {
              position: absolute;
              content: "";
              width: $box-size;
              height: $box-size;
              top: -1px;
              left: -4px;
              background-image: url("image/check.svg");
              z-index: 10;
            }
          }
        }
        input[type="radio"] {
          position: relative;
          $circle-radius: 9px;
          $inner-circle-radius: 7px;
          &:after {
            position: absolute;
            content: "";
            top: -$circle-radius / 4;
            left: -$circle-radius / 2;
            background-color: #ffffff;
            width: $circle-radius * 2;
            height: $circle-radius * 2;
            border-radius: $circle-radius + 2px;
            border: 1px solid #c0c0c0;
            z-index: 9;
          }
          &:checked {
            &:before {
              position: absolute;
              content: "";
              top: -1.5px + ($circle-radius - $inner-circle-radius);
              left: -2.5px + ($circle-radius - $inner-circle-radius)/2;
              background-color: #ffffff;
              width: $inner-circle-radius * 2;
              height: $inner-circle-radius * 2;
              border-radius: $inner-circle-radius + 2px;
              background-color: $color-main;
              z-index: 10;
            }
          }
        }
      }
    }
  }
}

@mixin add-mark($width, $height) {
  border: 1px solid #c0c0c0;
  background-color: #ffffff;
  position: relative;
  $mark-size: 18px;
  display: block;
  width: $width;
  height: $height;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: #f8f8f8;
    transition-delay: 0.12s;
    transition-duration: 0.3s;
  }
  &:after,
  &:before {
    content: "";
    width: $mark-size;
    height: 1px;
    background-color: #c0c0c0;
    position: absolute;
    top: calc(#{$height} / 2 - 1px);
    left: calc((#{$width} - #{$mark-size}) / 2);
    z-index: 2;
  }
  &:before {
    transform: rotate(90deg);
  }
}
